:root {
    font-family: "Roboto", sans-serif;
    --violet: #392e84;
    --red: #a3221f;
    --slate: #58707d;

    --white: #eee;
}

html {
    background-image: url("../images/felt.jpg");
    background-size: repeat;
    scroll-behavior: smooth;
}

div {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    padding-top: 15vh;
    height: 70vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: var(--white);
    font-size: 16px;
}

.full-name {
    font-family: "Holtwood One SC", serif;
    font-size: 2em;
    margin-bottom: 0.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    opacity: 80%;
}

.titles {
    font-size: 1em;
    margin-bottom: 2em;
    opacity: 80%;
}

.contacts {
    display: flex;
    gap: 50px;
}

.contacts a {
    text-decoration: none;
    opacity: 70%;

    cursor: pointer;
    display: block;
    height: 4em;
    width: 4em;
}

.contacts a:hover {
    opacity: 100%;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.5em;
}

.contacts img {
    height:  100%;
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: space-around;
}

.card {
    --card-border-radius: 20px;
    --card-border-width: 8px;

    --card-width: 300px;
    --card-height: calc(var(--card-width) * 3 / 2);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    width: var(--card-width);
    height: var(--card-height);

    border: var(--card-border-width) solid;
    border-color: var(--border-color);
    border-radius: var(--card-border-radius);

    background-color: var(--white);
    
    margin: 0 10px 50px 10px;

    box-shadow: -4px 4px 0 2px rgba(0,0,0,0.5);
}

.card::after {
    position: absolute;

    bottom: calc(-1 * var(--card-border-width));
    right: calc(-1 * var(--card-border-width));

    padding: 8px 16px;
    border: var(--card-border-width) solid;
    border-radius: var(--card-border-radius) 0 var(--card-border-radius) 0;

    color: var(--border-color);
    background-color: var(--white);

    font-size: 14px;
}

.education {
    --border-color: var(--red);
}
.education::after {
    content: "Education";
}

.experience {
    --border-color: var(--violet);
}
.experience::after {
    content: "Experience";
}

.project {
    --border-color: var(--slate);
}
.project::after {
    content: "Project";
}

.card .institution {
    width: 101%;

    background-color: var(--border-color);
    color: var(--white);

    padding: 4px 8px 8px 8px;
    font-size: 15px;
    letter-spacing: 0.1rem;
    border-radius: 2px 2px 0 0;
}

.card .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    padding: 5% 0;
    width: 100%;

    overflow: hidden;
    background: radial-gradient(#ddd 75%, var(--white));

    border-bottom: var(--card-border-width) solid var(--border-color);
}

.image img {
    max-width: 80%;
    max-height: 80%;
}

.card .description {
    width: 100%;
    flex-grow: 1;
    padding: 16px 8px;
}

.description {
    font-weight: 300;
    font-size: 14px;
}

.description .time-frame {
    font-style: italic;
    font-size: 14px;
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.description .role {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.description p {
    margin-bottom: 8px;
}

.description p strong {
    font-weight: 500;
}

.description p + ul {
    margin-top: -4px;
}

.description li {
    list-style-type: circle;
    margin-left: 16px;
    margin-bottom: 4px;
}

.description > a {
    display: block;
    width: fit-content;

    margin: 0 auto 12px auto;

    font-size: 16px;
    font-weight: 400;
}

.description a {
    color: var(--border-color);
    text-decoration: underline;
}

.description a:hover {
    color: black;
}

@media (min-width: 1100px) {
    html {
        background-size: cover;
    }
    .info-container {
        height: 100vh;
        padding-top: 0;
        font-size: 20px;
    }

    .card-container {
        position: absolute;

        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

        overflow: hidden;

        align-items: flex-end;
        justify-content: center;
        flex-wrap: nowrap;
        pointer-events: none;
    }

    .card {
        --overlap: calc((100vw - 100px - var(--card-width)) / 10 - var(--card-width));
        margin-left: 0;
        margin-right: var(--overlap);
        flex-shrink: 0;
        margin-bottom: 0px;
        transform: translate(calc(var(--overlap) / 2), 290px);
        transition: transform 50ms;

        pointer-events: auto;
    }

    .card:hover {
        transform: translate(calc(var(--overlap) / 2), -15px);
        transition: transform 200ms;
        z-index: 10;
    }
}
